/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
   
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Mon ajout css desktop */


/****** Header ***********/

.main-logo-sizing {
    width: 70%;
    height: 70%;
}

.header-display {
    display: flex;
    justify-content: space-between;
   
}

.header-section-display {
    display: flex;
    gap: 8%;
    margin-right: 2%;
}

.header-section-title {
    padding-top: 10px;
    font-size: 20px;
}

.header-section-line:hover {
    color: #0065FC;
    cursor: pointer;
    border-top: 2px solid #0065FC;
}

.main-title {
    margin-bottom: 8px;
}

.main-title-txt {
    font-weight: lighter;
    margin-top: 0px;
}


/****** Form ***********/

#map-icon {
    color: black;
}

.map-icon-background {
    background-color: rgba(0, 0, 0, 0.1);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.form-display {  
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
} 

.button {
    color: white;
    background-color: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #0065FC;
}

.button:hover {
    cursor: pointer;
}

.input {
    border: 1.7px solid rgba(0, 0, 0, 0.1);
    font-weight: bold;
    padding-left: 3px;
}

.info-display {
    display: flex;
    gap: 1%;
}

.info-container {
    margin-top: 7px;
}

#info-icon {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    height: 10px;
    width: 10px;
    padding: 7px 8px 10px 10px;
} 

.info-txt {
    margin-bottom: 2%;
}


/****** Filters **********/


.filters-section {
    display: flex;
    gap: 1%;
}

.filters-display {
    display: flex;
    gap: 2%;  
}

.filters-title {
    
    font-size: 1.17em;
}
    
.filters-container {
   
    background-color: white;
    border-radius: 20px;
    width: 140px;
    margin-top: 8px;
    height: 40px;
    display: flex;
    padding-left: 6px;
    padding-right: 3px;
    border: 1px solid #D9D9D9;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
   

}

.filters-container:hover {
    background-color: #DEEBFF;
}

.filters-text {
    font-weight: bold;
    font-size: 0.9em;
    text-align: center ;
    margin-top: 10px;
  
   
}

.fas {
    color: #0065FC;
    padding: 10px;
    
}

.fa-fire {
    color: #0065FC;
    padding: 10px;
}



/****** Hebergements ***********/

.hebergements {
    width: 65%;
} 

.hebergement-card { 
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    max-width: 250px;
}

.hebergement-card img { 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    max-width: 100%;
    object-fit: cover;
    height: 120px;
    width: 270px;
    min-height: 100%; 
}

.hebergement-cards-display {
    display: flex;
    justify-content: space-evenly;
    gap: 2%;
    box-sizing: border-box;
    margin-top: 2%;
    margin-bottom: 4%; 
}

.hebergement-card-content {
    display: inline-block;
    margin-left: 2px;
}

.hebergement-card-title { 
    margin-top: 4px;
    margin-bottom: 4px;
}

.hebergement-card-subtitle{
    margin-top: 4px;
    margin-bottom: 4px;
} 

.card-rating {
    padding: 2px;
    margin-bottom: 2px;
}

/****** Activites ***********/

.activites {
    margin-top: 60px;
}

.activites-section-title {
    margin-left: 2%;
    margin-bottom: 2%;

}
.activites-container {
    display: flex;
    justify-content: space-between;
    gap: 2%;
    margin-bottom: 40px;
    margin-left: 2%;
    margin-right: 2%;
    
    
}
.activites-card {
    background-color: white;
    border-radius: 20px;
    padding-bottom: 3px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 300px;
   
    
}
.activites-image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 350px;
    width: 100%;
    object-fit: cover
}

.actvites-card-title {
    margin-left: 15px;
}


/****** Footer ***********/

.footer-display {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    
}

.footer-section {
    margin-left: 2%;
    margin-right: 2%;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements-and-populaires section {
        background-color: white;
    }

   

    .hebergements {
        width: 100%;
        background-color: white;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

   

    /****** Filters ***********/
   
    .populaires-cards {
        margin-top: -10px;
        gap: 1%;
    }

    /****** Activites ***********/

    .activites-image {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 170px;
        width: 100%;
        
        
    }

  
    
}


  
 


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

/****** General ***********/    
    .main-container {
        width: 100%;
        margin-left: 0px;
        box-sizing:unset;
        padding: 0px;
    }

/****** Header ***********/

.main-logo {
    margin-left: auto;
    margin-right: auto;
    width: 170px;
    height: 50px;
}

.main-logo-sizing {
    margin-left:25px;
}

.header-display {
    display: flex;
    flex-direction: column;
}

.header-section-display {
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
    gap: 0%;

}

.header-section-title {
    margin-left: auto;
    margin-right: auto;
    
}

.header-section-line {
    border-bottom: 2px solid #D9D9D9;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.header-section-line:hover {
      border-bottom: 2px solid #0065FC;
      border-top: none;
}


/****** Form ***********/

.form-display {
    justify-content: center;
    
}

.filters-display {
    display: flex;
    gap: 2%;
    margin-bottom: 15px;
    flex-direction: column;
} 

.filters-section {
    flex-direction: column;
    gap: 1%;
    
}

/****** Hebergements/populaires ***********/

.hebergements-and-populaires {
    flex-direction: column-reverse;
 

}

.hebergements-and-populaires section {
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}


/****** populaires ***********/

.populaires-cards {
    flex-direction: column;
    
}

.populaires {
    background-color: #D9D9D9;
    margin-top: 0;
}


.populaires-title {
    display: flex;
    justify-content: space-between;
  
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    
    min-width: 330%;
}



/****** Hebergements ***********/


.section-title {
   margin-left: 1%;
}

.hebergements {
    background-color: white;
   
}

.hebergement-cards-display {
    flex-direction: column;
    
    gap: 2%;
    margin-top: 0;
    margin-bottom: 0;
   
}




#hebergements {
    background-color: white;
}
/*
.hebergement-card-content {
    max-width: 200%;
}*/

.hebergement-card {
    max-width: 200%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.hebergement-card img {
    
    min-width: 100%;
}

.section-title {
    margin-left: 0;
    font-size: 23px;
    margin-top: 2%;
}

/****** Activites ***********/

.activites-section-title {
    font-size: 23px;
    margin-left: 2%;
}
.activites-container {
    flex-direction: column;
    align-items: center;
    

}

.activites-card {
    width: 90%;
    margin-top: 4%;
}

.activites-image {
    max-width: 100%;
    object-fit: cover
}

.activites-title-display {
    margin-left:3%;
}

/****** Footer ***********/

.footer-display {
    flex-direction: column;
    
    text-align: center;
}

}



